.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: rgb(241, 241, 241);
}

.contact h1 {
  font-family: "quicksand", cursive;
  font-size: 3rem;
  padding-top: 180px;
  font-weight: bold;
  color: rgba(23, 22, 22, 0.811);
  text-align: center;
  margin-bottom: 20px;
}

.underline-contact {
  width: 0; /* Initialement, la largeur est de 0 */
  height: 1px; /* Épaisseur de la ligne */
  background-color: rgb(74, 74, 74); /* Couleur de la ligne */
  margin: 10px 0; /* Marge autour de la ligne */
  animation: underlineGrowContact 1.5s ease-out forwards; /* Animation pour faire grandir la ligne */
  animation-delay: 1.5s; /* Délai avant que l'animation commence */
}

@keyframes underlineGrowContact {
  0% {
    width: 0;
  }
  100% {
    width: 15%;
  }
}

.mail,
.phone,
.address {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "quicksand", cursive;
  transition: opacity 0.5s ease;
}

.mail i {
  font-size: 1.5rem;
  color: rgb(126, 58, 58);
  margin-top: 10px;
}

.mail {
  margin-bottom: 30px;
  animation: slideInFromLeft 3s forwards;
}

.phone {
  animation: slideInFromRight 3s forwards; /* Animation for phone */
  animation-delay: 0.5s; /* Delay the phone animation slightly */
}

.address {
  margin-top: 30px;
  animation: slideInFromLeft 3s forwards; /* Animation for phone */
  animation-delay: 0.5s; /* Delay the phone animation slightly */
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Style pour le texte du téléphone */
.phone span {
  font-size: 1.3rem;
  font-weight: bold;
  color: grey;
}

.address p {
  font-size: 1.3rem;
  font-weight: bold;
  color: grey;
}

.phone i {
  font-size: 1.5rem;
  color: rgb(126, 58, 58);
}

.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

/* Style pour les liens d'email */
.mail a {
  font-size: 1.3rem; /* Taille de la police */
  text-decoration: none; /* Pas de soulignement */
  color: grey; /* Couleur du texte */
  font-weight: bold; /* Poids de la police */
}

.reseaux h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 80px;
  text-decoration: 2px underline;
  text-align: center;
  color: rgb(126, 58, 58);
}

/* Style pour les icônes de réseaux sociaux */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 40px;
  margin: 50px;
  transition: 0.4s ease-in-out;
}

/* Style pour les liens dans les icônes */
.icons a {
  text-decoration: none;
}

/* Style pour les icônes au survol */
.icons i:hover {
  transform: scale(1.1);
  color: rgb(126, 58, 58);
}

/* Style pour les icônes */
.icons i {
  color: grey;
  font-weight: normal;
  font-size: 2.5rem;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 1300px) {
  .contact h1 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1042px) {
  .contact h1 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .contact h1 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .mail i {
    font-size: 1.2rem;
  }

  .mail a {
    font-size: 1.1rem;
  }

  .phone i {
    font-size: 1.2rem;
  }

  .phone span {
    font-size: 1.1rem;
  }

  .address p {
    font-size: 1.1rem;
  }

  .icons {
    margin-bottom: 60px;
  }
  @keyframes underlineGrowContact {
    0% {
      width: 0;
    }
    100% {
      width: 30%; /* La ligne grandit jusqu'à 100% de sa taille */
    }
  }
}

@media screen and (max-width: 500px) {
  @keyframes underlineGrowContact {
    0% {
      width: 0;
    }
    100% {
      width: 45%; /* La ligne grandit jusqu'à 100% de sa taille */
    }
  }
}
