.creation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
  background: rgb(241, 241, 241);
}

.creation h1 {
  font-family: "quicksand", cursive;
  font-size: 3rem;
  padding-top: 180px;
  font-weight: bold;
  color: rgba(23, 22, 22, 0.811);
  text-align: center;
  margin-bottom: 20px;
}

.crea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.creation h2 {
  font-family: "quicksand", cursive;
  font-size: 3rem;
  padding-top: 180px;
  font-weight: bold;
  color: rgba(23, 22, 22, 0.811);
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.underline-crea {
  width: 0; /* Initialement, la largeur est de 0 */
  height: 1px; /* Épaisseur de la ligne */
  background-color: black; /* Couleur de la ligne */
  margin: 10px 0; /* Marge autour de la ligne */
  animation: underlineGrow-crea 2s ease-out forwards; /* Animation pour faire grandir la ligne */
  animation-delay: 1.5s; /* Délai avant que l'animation commence */
}

.gallerie3 h2 {
  font-size: 2rem;
  text-align: center;
  border: 2px solid rgb(164, 164, 164);
  margin-top: 60px;
  padding: 20px;
  border-radius: 5px;
  color: rgb(71, 71, 71);
}

@keyframes underlineGrow-crea {
  0% {
    width: 0;
  }

  100% {
    width: 35%; /* La ligne grandit jusqu'à 100% de sa taille */
  }
}

.pic-item10 {
  display: flex;
  gap: 20px; /* Espace entre les images */
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.pic-item10 img {
  width: 200px;
  height: 280px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}

.pic-item10 img:hover {
  transform: scale(1.03);
}

.image-item6 {
  object-fit: cover;
  text-align: center; /* Ensures the text below the image is centered */
  margin-top: 60px;
}

.image-item6 p {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  margin: 10px 0;
  text-align: center;
}

.image-item6 span {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
}

@media screen and (max-width: 1300px) {
  .creation h1 {
    margin-top: 60px;
  }

  .creation h2 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1042px) {
  .creation h1 {
    margin-top: 100px;
  }

  .creation h2 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .creation {
    padding-bottom: 40px;
  }

  .crea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .creation h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .creation h2 {
    font-size: 2.5rem;
    padding-top: 0;
    margin: 10px;
  }

  .gallerie3 h2 {
    margin-top: 50px;
  }

  .pic-item10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
  }

  .pic-item10 img {
    width: 180px;
    height: 250px;
  }

  .image-item6 {
    margin-top: 50px;
  }

  .image-item6 p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .image-item6 span {
    margin: 5px;
  }

  .crea-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  @keyframes underlineGrow-crea {
    0% {
      width: 0;
    }

    100% {
      width: 45%; /* La ligne grandit jusqu'à 100% de sa taille */
    }
  }
}

@media screen and (max-width: 500px) {
  @keyframes underlineGrow-crea {
    0% {
      width: 0;
    }

    100% {
      width: 70%; /* La ligne grandit jusqu'à 100% de sa taille */
    }
  }
}
