.intro-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  animation: fadeIn 3s ease-in-out;
}

.intro-logo {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Styles Responsive */

@media screen and (max-width: 768px) {
  .intro-logo {
    max-width: 300px;
  }
}
